<div class="login-main-container">
  <div class="quick-access">
    <button *ngFor="let user of quickUsers" class="quick-user-btn" type="button" (click)="selectQuickUser(user)">
      <img [src]="user.imagen" alt="img" />
      <span>{{ user.nombre }}</span>
    </button>
  </div>
  <div class="login-container">
    <mat-card class="login-card">
      <h2>Iniciar sesión</h2>

      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        <button mat-raised-button class="login-button" type="submit" [disabled]="loading"><!--Ingresar-->
          <ng-container *ngIf="!loading">Iniciar sesión</ng-container>
          <ng-container *ngIf="loading">
            <mat-spinner [diameter]="24"></mat-spinner>
          </ng-container>
        </button>
        <!--
        <div class="autofill-btn-group">
          <button mat-raised-button color="primary" type="button" (click)="autofill('paciente')"
            [ngClass]="{ selected: tipoSeleccionado === 'paciente' }">
            👤 Paciente
          </button>
          <button mat-raised-button color="accent" type="button" (click)="autofill('especialista')"
            [ngClass]="{ selected: tipoSeleccionado === 'especialista' }">
            🩺 Especialista
          </button>
          <button mat-raised-button color="warn" type="button" (click)="autofill('admin')"
            [ngClass]="{ selected: tipoSeleccionado === 'admin' }">
            🛠️ Administrador
          </button>
        </div>
        -->
        <div *ngIf="loading" class="loader">Cargando...</div>
      </form>
    </mat-card>
  </div>
</div>